.main-container{
    width: 100%;
    margin: 50px auto 0;
   
    padding: 0 1rem;
}
.sub-container{
    min-width: 0;
    margin-left: 33rem;
    margin-top: 10rem;
    max-width: 800px;
}
.component-heading{
    color: var(--text-color);
    width: 90%;
    margin:0 1 rem;
    font-size: 4rem;
}

.component-name{
     margin:  1rem;
     color: var(--text-color);

}
.component-name:hover{
    color:var(--hover-color);
    font-weight: 500;
}
.component-description{
    margin :1.5rem;
    color: var(--text-color);
    font-size:2rem;
    padding: 2rem;
   
  
   
}
.component-example{                         
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
    background-color:var(--box-shadow-color);
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    
    
}
iframe {
	border: 0;
	transform: scale(1);
	overflow: hidden;
	width: 100%;
    color: var(--text-color);
}