/* Responsive */
@media (max-width: 1650px) {
    html {
      font-size: 57%;
    }
  }
@media (max-width: 1500px) {
    .section-heading-line {
      display: none;
    }
  }
  
@media (max-width: 1400px) {
    html {
      font-size: 45%;
    }
  
    .banner-heading span {
      font-size: 10rem;
    }
  
    .banner-paragraph {
      width: 45rem;
      font-size: 3rem;
    }
}
  
@media (max-width: 900px) {
  
    .container{
    width: 100%;
  }
  .side-left{
      display: none;
     }
   .sub-container{
     
     margin: auto;
     width: 100%;
   }
  .component-heading{
    font-size: 3rem;
  }
  .component-name{
    font-size: 2rem;
  }
  .component-description{
    font-size: 3rem;
  }
  iframe{
    width: 100%;
    overflow: hidden;

  }
  
    .banner {
      top: 25%;
    }
  
    .banner-heading {
      height: 15rem;
    }
  
    .banner-heading span {
      font-size: 8rem;
    }
  
    .footer {
      padding: 0 5rem;
      font-size: 1.8rem;
    }
  
  }
  
 @media (max-width: 700px) {
   .container{
     width: 100%;
   }
   .side-left{
       display: none;
      }
    .sub-container{
      
      margin: auto;
      width: 90%;
    }
  
  .footer {
      flex-direction: row;
      
  }
}
  
@media (max-width: 500px) {
    html {
      font-size: 30%;
    }
  
    .banner-heading span {
      font-size: 4.5rem;
      letter-spacing: 2rem;
    }
  
    @keyframes animateHeading {
      0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
      }
  
      3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1rem;
      }
  
      25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1rem;
      }
  
      28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
      }
  
      100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
      }
    }
 }
  /* End of Responsive */
  
  