@import url(/css/Allcss.css);
* {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    color: #eee;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 2px solid var(--border-color);
  }
  .card-badge {
    position: absolute;
    background-color: var(--primary-color);
    color: #eee;
    padding: 1px;
    top: 5px;
    left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .card-badge:hover {
    background-color:red;
  }
  
  .card-ecommerce {
    max-width: 30rem;
    border-radius: 8px;
  }
  .card-img {
    height: 25rem;
    width: 100%;
    background-size: cover;
  }
  .card-titles {
    color: var(--text-color);
    margin-left: 1rem;
    margin-bottom: 8px;
    font-size: 1.2rem;
  }
  .card-subtitle {
    margin-top: 4px;
    font-size: 1rem;
  }
  .card-info {
    margin-left: 1rem;
    margin-bottom: 4px;
    color: var(--text-color);
  }
 .card-button {
    margin: 8px 1rem;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-color);
  }
  .card-button:hover {
    background-color: var(--hover-color);
  }
  
  .card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  

  