<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Cards</title>
    <link rel = "stylesheet" href = "/style.css">
    <link rel = "stylesheet" href = "card.css">
    <link rel = "stylesheet" href = "/css/Allcss.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="/index.html">
            <span>S</span>havi<span>T</span>he<span>UI</span>
          </a>
        </div>
       </nav>
    <!--Navbar End-->
    <!--MAin Section-->
       <div class = "container">
           <side class = "side-left">
            <div class = "navigation">
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "#">Installation</a>
                   </li>
               </ul>
               <h3 class = "navbar-heading">Components👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Avatar/avatar.html">Avatar</a></li>
                   <li><a href="/Components/Alert/alert.html">Alert</a></li>
                   <li><a href="/Components/Badge/badge.html">Badge</a></li>
                   <li><a href="/Components/Button/button.html">Button</a></li>
                   <li><a href="/Components/Card/card.html">Cards</a></li>
                   <li><a href="/Components/Image/image.html">Images</a></li>
                   <li><a href="/Components/Input/input.html">Input</a></li>
                   <li><a href="/Components/Text-Utilities/Text-Utilities.html">
                       Text-Utilities</a></li>
                   <li><a href="/Components/Rating/rating.html">Rating</a></li>
                   <li><a href="/Components/Lists/lists.html">Lists</a></li>
                   <li><a href="#">Shavi-Rewards</a></li>

               </ul>
            </div>
            </side>
           
            <!--side Section End-->
            <main> 
                <h1 class = "component-heading">Cards</h1>
                <h3 class = "component-description">
                    Card is something that we use to show a certain thing. Example of card is Price card, Product card, Text card etc. 
		We will see some of the cards here. <br><br>
		1. Cards with badges.<br>
		2. Cards with dismiss.<br>
		3.Cards with text Overlay.<br>

		4. Text only Cards.<br>
		5. Horizontal Card.<br>
		6. Cards with Shadow.<br>

                </h3>
            <main>
            <!--Main Section End-->
            <div class="component-types" >
                <h2 class="component-name"> Card with Badges</h2>
                <div class="components-example">
                  <div class="card card-ecommerce">
                     <div class="card-badge">Few more  Left</div>
                    <img class="card-img" src="../../Images/card1.jpg" />
                    <div class="card-titles">
                      <h2>Reward Hamper!
                      </h2>
                    </div>
                    <p class="card-info">Get Rewarded for being YOU!</p>
        
                    <button class="card-button">Add to wishlist </button>
        
        
                </div>
              </div>
      
     
    <!--Footer-->
    
    <footer class="footer">
        <a href="../avatar/avatar.html"
            ><i class="fas fa-arrow-circle-left"></i>Button</a
        >
        <a href="../badge/badge.html"
            >Image<i class="fas fa-arrow-circle-right"></i
        ></a>
    </main></div>
    <footer class = "footer">
        <div class = "footer-nav">
            <a href = "#">Home</a>
            <a href = "https://github.com/Isha2806/Shavi_TheUI">Github</a>
            <a href = "/docs/#">Docs</a>
            <a href = "#">Contact Shavi</a>
        </div>
        <p class = "copyright">We Believe in your Brand.<br>Thankyou for trusting us with you Dream Project.<br><br>&copy;Shavi-TheUI</p>
    </footer>
    <!--End Footer-->
        <script src = "./script.js"></script>
    
</body>
</html>