<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Cards</title>    
    <script src="https://kit.fontawesome.com/f06d3751e1.js" crossorigin="anonymous"></script>
     <link rel = "stylesheet" href = "/style.css">
    <link rel = "stylesheet" href = "card.css">
    <link rel = "stylesheet" href = "/css/Allcss.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="/index.html">
            <span>S</span>havi<span>T</span>he<span>UI</span>
          </a>
        </div>
       </nav>
    <!--Navbar End-->
    <!--MAin Section-->
       <div class = "container">
           <side class = "side-left">
            <div class = "navigation">
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "#">Installation</a>
                   </li>
               </ul>
               <h3 class = "navbar-heading">Components👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Avatar/avatar.html">Avatar</a></li>
                   <li><a href="/Components/Alert/alert.html">Alert</a></li>
                   <li><a href="/Components/Badge/badge.html">Badge</a></li>
                   <li><a href="/Components/Button/button.html">Button</a></li>
                   <li><a href="/Components/Card/card.html">Cards</a></li>
                   <li><a href="/Components/Image/image.html">Images</a></li>
                   <li><a href="/Components/Input/input.html">Input</a></li>
                   <li><a href="/Components/Text-Utilities/Text-Utilities.html">
                       Text-Utilities</a></li>
                   <li><a href="/Components/Rating/rating.html">Rating</a></li>
                   <li><a href="/Components/Lists/lists.html">Lists</a></li>
                   <li><a href="#">Shavi-Rewards</a></li>

               </ul>
            </div>
            </side>
           
            <!--side Section End-->
            <main> 
                <h1 class = "component-heading">Cards</h1>
                <h3 class = "component-description">
                    Card is something that we use to show a certain thing. Example of card is Price card, Product card, Text card etc. 
		We will see some of the cards here. <br><br>
		1. Cards with badges.<br>
		2. Cards with dismiss.<br>
		3.Cards with text Overlay.<br>

		4. Text only Cards.<br>
		5. Horizontal Card.<br>
		6. Cards with Shadow.<br>

         </h3>
         <div class="component-types">
            <h2 class="component-name"> Card with Badges</h2>
             <div class="component-example">
              <div class="card card-ecommerce">
                 <div class="card-badge">Limited stock </div>
                <img class="card-img" src="../../Images/appleIphone.jpg" />
                <div class="card-titles">
                  <h2>Reward Hamper!
                  </h2>
                </div>
                <p class="card-info">Get Rewarded for helping you team Neog!</p>
    
                <button class="card-button"> Claim Now ! </button>
                </div></div>
                <div class = "component-code">
                    <iframe
                    src="https://carbon.now.sh/embed/0Iz9i46dthB1aOSwzx9d"
                    style="height: 372px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>

                </div>
    
    
            

          <!--Cards with dismiss-->
          <div class="component-types">
            <h2 class="component-name">Dismiss Card</h2>
            <div class="component-example">
              <div class="card">
                <div class="card-dismiss"><i class="fas fa-times-circle fa-2x"></i></div>
                <img src="../../Images/skills-of-a-full-stack-developer.png" class="card-image" />                       
                <div class="card-title">
                    <h2>Shavi</h2>
                
                </div>
    
                <div class="card-footer">
                  <button class="card-button">Buy Now </button>
                  <button class="card-button">Visit site</button>
                </div>
              </div>
              </div>
              <div class = "component-code">
                  <iframe
                src="https://carbon.now.sh/embed/i53Hs3SXOUOyoFCE1NfO"
                style=" height: 428px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                </div>
          
          <!--Cards with Text Overlay-->
          <div class="component-types">
            <h2 class="component-name">Card with Text overlay</h2>
            <div class="component-example">
              <div class="card card-shadow">
                <img src="../../Images/Gift.jpg" class="card-image" />
                <div class="card-title text-overlay ">
                  <h2>Gift Card</h2>
                 <h6>We Reward your time in Shavi!</h6>
                </div>
               
                <div class="card-footer">
                  <button class="card-button">Buy</button>
                  <button class="card-button">Add to wishlist</button>
                </div>
              </div> </div>
              <div class = "code-component">
                  <iframe
                src="https://carbon.now.sh/embed/ddwWvQtKpPilwEu86ri1"
                style=" height: 410px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>

              </div>
        
          <!--Text only Cards.-->
          <div class="component-types" >
            <h2 class="component-name">Text only cards</h2>
            <div class="component-example">
              <div class="card">
                <div class="card-title">
                  <h2>Card Title</h2>
                  <p class="card-subtitle">Card Sub Title</p>
                </div>
                <p class="card-info">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Laudantium quis iste quos i am the best full stack developer ever facilis ullam corrupti vero haru
                  minima voluptas non porro, accusantium eligendi repudiandae
                  quia?
                </p>
              </div>
            </div>
            <div class="component-code"><iframe
                src="https://carbon.now.sh/embed/6YYjQL4kX91J7kVVZxC6"
                style=" height: 428px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
               </div>
          </div>
          
          <!--Horizontal card-->
          <div class="component-types" >
            <h2 class="component-name">Horizontal Card</h2>
            <div class="component-example">
              <div class="card">
                <img src="../../Images/Gift2.jpg" class="card-image" />
                <h3>Specially Designed by shavi</h3>
               
                <div class="card-footer">
                  <button class="card-button">Buy</button>
                  <button class="card-button">Add to later</button>
                </div>
                </div></div>
                <div class = "code-component">
                    <iframe
                    src="https://carbon.now.sh/embed/pcxvEqweeBZLNlEqTrHi" 
                    style=" height: 356px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>

                </div>
            </div>
                <!--Card shadow-->
                <div class="component-types">
                    <h2 class="component-name">Card with Shadow</h2>
                    </p>
                    <div class="component-example">
                      <div class="card card-shadow">
                        <img src="../../Images/Gift.jpg" class="card-image" />
                        <div class="card-title">
                          <h2>Neog Cart</h2>
                         
                        </div>
                        <p class="card-info">A special range of gifts available for team
                            Neog. Claim Your reward NOW!
                          
                        </p>
                        <div class="card-footer">
                          <button class="card-button">Claim</button>
                          <button class="card-button">Add to wishlist</button>
                        </div>
                      </div>
                    </div>
                      <div class="code-component">
                        <iframe
                        src="https://carbon.now.sh/embed/PMdoiKEUXb7zXMftN0mr"
                        style=" height: 465px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                      </div>
                    </div>
                 
    
                 
        </div></div></div>
           

            <!--Main Section End-->
            
             
     
    <!--Footer-->
    
    <footer class="footer">
        <a href="../avatar/avatar.html"
            ><i class="fas fa-arrow-circle-left"></i>Button</a
        >
        <a href="../badge/badge.html"
            >Image<i class="fas fa-arrow-circle-right"></i
        ></a>
    </main></div>
    <footer class = "footer">
        <div class = "footer-nav">
            <a href = "#">Home</a>
            <a href = "https://github.com/Isha2806/Shavi_TheUI">Github</a>
            <a href = "/docs/#">Docs</a>
            <a href = "#">Contact Shavi</a>
        </div>
        <p class = "copyright">We Believe in your Brand.<br>Thankyou for trusting us with you Dream Project.<br><br>&copy;Shavi-TheUI</p>
    </footer>
    <!--End Footer-->
        <script src = "./script.js"></script>
    
</body>
</html>