<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Avatar</title>
    <link rel = "stylesheet" href = "/css/Allcss.css">
    <link rel = "stylesheet" href = "avatar.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body> 
    <div class = "container">
     <!--Navbar-->
     <nav>
        <div class="navbar">
            <div class="navbar-logo">
                <a href="/index.html">
                <span>S</span>havi<span>T</span>he<span>UI</span>
                </a>
            </div>
        </div>
    </nav>
    <!--Navbar End-->
    <div class = "main-container">
        <side class = "side-left">
           
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "/docs/introduction.html">Installation</a>
                   </li>
               </ul>
               <h3 class = "navbar-heading">Components👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Avatar/avatar.html">Avatar</a></li>
                   <li><a href="/Components/Alert/alert.html">Alert</a></li>
                   <li><a href="/Components/Badge/badge.html">Badge</a></li>
                   <li><a href="/Components/Button/button.html">Button</a></li>
                   <li><a href="/Components/Card/card.html">Cards</a></li>
                   <li><a href="/Components/Image/image.html">Images</a></li>
                   <li><a href="/Components/Input/input.html">Input</a></li>
                   <li><a href="/Components/Text-Utilities/Text-Utilities.html">
                       Text-Utilities</a></li>
                   <li><a href="/Components/Rating/rating.html">Rating</a></li>
                   <li><a href="/Components/Lists/lists.html">Lists</a></li>
                   <li><a href="#">Shavi-Rewards</a></li>
                </ul>
            </div>
            </side> <!--side Section End-->
            <div class = "sub-container"> 
             <h1 class = "component-heading">👨‍🎓 Avatar 👩‍🎓</h1>
            <h2 class = "component-description">
                An Avatar  is a graphical representation of a person.<br>
                In Shavi, you can have a few types of beautiful avatar in your project.
                To know more about it , you can read further.
            </h2>
            <div class = "component-types">
                <h1 class = "component-name"> Round-Round Face 👸 Avatar</h1>
                <div class = "component-example">
                    <img class = "avatar" src = "/Images/femaleAvatar.png" alt = "femaleAvatar"/>
                    <img class = "avatar" src = "/Images/maleAvatar.png" alt = "MaleAvatar">
                    <img class = "avatar" src = "/Images/avatarImg.jpg" alt = "Avatar"/>
                </div>
                <div class = "component-code">
                    <iframe
                    src="https://carbon.now.sh/embed/MGxJawXV68ff5olWt3Bb"
                    style=" height: 279px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>

                </div>
            </div>
            <div class = "component-types">
                <h2 class = "component-name"> chotu-motu Avatar🤷‍♀️🙆‍♂️</h2>
                <div class = "component-example">
                    <img 
                        class = "avatar bahut-hi-chota"
                        src = "../../Images/femaleAvatar.png"/>
                    <img
                        class = "avatar bahut-chota"
                        src = "../../Images/femaleAvatar.png"/>
                    <img 
                        class = "avatar chota"
                        src = "../../Images/femaleAvatar.png"/>
                    <img 
                        class = "avatar badka"
                        src = "../../Images/femaleAvatar.png"/>
                    <img 
                        class = "avatar bahut-hi-badka"
                        src = "../../Images/femaleAvatar.png"/>

                </div>
                <div class = "component-code">
                    <iframe
                    src="https://carbon.now.sh/embed/7Kk9TD1qnvJzkoVOeSQe"
                    style="height: 521px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div>
    <!---------------------------------------Footer------------------------------->
            <footer class="footer">
                <a href="../avatar/avatar.html"
                     ><i class="fas fa-arrow-circle-left"></i>Avatar</a>
                <a href="../badge/badge.html">Badge<i class="fas fa-arrow-circle-right"></i></a>
            </footer>
        </div>
    </div>
 </div>
</body>
</html> 