<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Avatar</title>
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/style.css">
    <link rel = "stylesheet" href = "/css/navbar.css">
    <link rel = "stylesheet" href = "/css/responsive.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="/index.html">
            <span>S</span>havi<span>T</span>he<span>UI</span>
          </a>
        </div>
       </nav>
    <!--Navbar End-->
    <main>
        <h1 class = "component-heading"></h1>
        <h3 class = "component-description"></h3>

    </main>
    
    <!--Footer-->
    <footer class = "footer">
        <div class = "footer-nav">
            <a href = "https://github.com/Isha2806/Shavi_TheUI">Github</a>
            <a href = "/Components/Avatar/avatar.html">Components</a>
            <a href = "/docs/#">Docs</a>
        </div>
        <p class = "copyright">We Believe in your Brand.<br>Thankyou for trusting us with you Dream Project.<br><br>&copy;Shavi-TheUI</p>
    </footer>
    <!--End Footer-->
        <script src = "./script.js"></script>
    
</body>
</html>