<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Slider</title>
    <link rel = "stylesheet" href = "/style.css">
    <link rel = "stylesheet" href = "slider.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="/index.html">
            <span>S</span>havi<span>T</span>he<span>UI</span>
          </a>
        </div>
       </nav>
    <!--Navbar End-->
    <!--MAin Section-->
       <div class = "container">
           <side class = "side-left">
            <div class = "navigation">
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "/docs/introduction.html">Installation</a>
                   </li>
               </ul>
               <h3 class = "navbar-heading"> Advance Component List👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Grid/grid.html">Grid</a></li>
                   <li><h3> <a href="/Components/Card/card.html">Basic Components</a></h3></li>

               </ul>
            </div>
            </side>
           
            <!--side Section End-->
            <main> 
            <h1 class = "component-heading">Slider</h1>
            
            <div class = "component-types">
                <h1 class = "component-name">Range Slider(Default)</h1>
                <h4 class = "component-description">
                  This is the default range created just with plain html using the input property.
                </h4>
                <div class = "component-example">
                    
                        <input
                         type="range"
                          min="1" 
                          max="500" 
                          value="10" 
                          id="shaviRange">
                    
                </div>
                <h1 class = "component-name">Range Slider(Rounded)</h1>
                <h3 class = "component-description">
                    Slider is something that illustrates the value of a range graphically . in shavi you can use the following sliders to indicate the range in your project. 
                </h3>
                <div class = "component-example">
                    <div class="slide-container">
                        <input
                         type="range"
                          min="1" 
                          max="100" 
                          value="50" 
                          class="slider"
                           id="shaviRange">
                    </div>
                </div>
                <div class = "component-code"><iframe
                    src="https://carbon.now.sh/embed/GGoFOtVncDn74vbbZEmy"
                    style=" height: 465px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe></div>
            </div>
               
               
            <!--Main Section End-->
      
      
     
    <!--Footer-->
    
    <footer class="footer">
        <a href="../../docs/introduction.html"
            ><i class="fas fa-arrow-circle-left"></i>Documents</a
        >
        <a href="../Alert/alert.html"
            >Alert<i class="fas fa-arrow-circle-right"></i
        ></a>
    </main></div>
    <footer class = "footer">
        <div class = "footer-nav">
            <a href = "#">Home</a>
            <a href = "https://github.com/Isha2806/Shavi_TheUI">Github</a>
            <a href = "/docs/#">Docs</a>
            <a href = "#">Contact Shavi</a>
        </div>
        <p class = "copyright">We Believe in your Brand.<br>Thankyou for trusting us with you Dream Project.<br><br>&copy;Shavi-TheUI</p>
    </footer>
    <!--End Footer-->
        <script src = "./script.js"></script>
    
</body>
</html>