<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Badge</title>
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/style.css">
    <link rel = "stylesheet" href = "/css/navbar.css">
    <link rel = "stylesheet" href = "/css/responsive.css">
    <link rel = "stylesheet" href = "badge.css">
    <link rel = "stylesheet" href = "/css/component.css">
    <script src="https://kit.fontawesome.com/f06d3751e1.js" crossorigin="anonymous"></script>
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="/index.html">
            <span>S</span>havi<span>T</span>he<span>UI</span>
          </a>
        </div>
       </nav>
    <!--Navbar End-->
    <!--MAin Section-->
       <div class = "container">
           <side class = "side-left">
            <div class = "navigation">
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "#">Installation</a>
                   </li>
               </ul>
               <h3 class = "navbar-heading">Components👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Avatar/avatar.html">Avatar</a></li>
                   <li><a href="/Components/Alert/alert.html">Alert</a></li>
                   <li><a href="/Components/Badge/badge.html">Badge</a></li>
                   <li><a href="/Components/Button/button.html">Button</a></li>
                   <li><a href="/Components/Card/card.html">Cards</a></li>
                   <li><a href="/Components/Image/image.html">Images</a></li>
                   <li><a href="/Components/Input/input.html">Input</a></li>
                   <li><a href="/Components/Text-Utilities/Text-Utilities.html">
                       Text-Utilities</a></li>
                   <li><a href="/Components/Rating/rating.html">Rating</a></li>
                   <li><a href="/Components/Lists/lists.html">Lists</a></li>
                   <li><a href="#">Shavi-Rewards</a></li>

               </ul>
            </div>
            </side>
           
            <!--side Section End-->
            <main>
                <div class = "component-types">
                    <h1 class = "component-name">Badge 🕉</h1>
                    <h3 class = "component-description">
                        Badge on icons show a particular thing.<br>
                        Bole toh jab koi online ho, toh green colour ke bindi se sabko bataane ka...<br>
                        Apun yahich pe hai . 
                        Jokes apart...In shavi, we use badges to show online or offline. 
                        <br>Have a look here!👇
                    </h3>
                    <div class = "component-example">
                        <div class="badge-container">
                            <i class="fas fa-cart-plus fa-2x"></i>
							<div class="badge-count">2</div>
                        </div>
                    </div>
                    <div class=" component-code">
                        <iframe
                        src="https://carbon.now.sh/embed/Sg112rhCL0Tyz4PemyPY"
                        style=" height: 261px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>

                    </div>
                    <!--Badge on Avatar-->
                    <h1 class = "component-name">Badge on Avatar🤷‍♀️🙆‍♂️</h1>
                    <div class = "component-example">
                        <div class = "badge-container">
                            <img class = "avatar chota" src="/Images/femaleAvatar.png" alt="FemaleAvatar-withbadge"/>
                            <div class="badge bottom-right online"></div>
                        </div>
                        <div class = "badge-container">
                            <img class = "avatar chota" src="/Images/my_picture.jpg" alt="FemaleAvatar-withbadge"/>
                            <div class=" badge bottom-right offline"></div>
                        </div>
                    </div>
                    <div class = "component-code">
                        <iframe
                        src="https://carbon.now.sh/embed/Ok5IwCr6ErV682a3sya4"
                        style=" height: 484px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>

                    </div>
                    
                </div>
            </main>
               
            <!--Main Section End-->
      
      
     
    <!--Footer-->
    
    <footer class="footer">
        <a href="../avatar/avatar.html"
            ><i class="fas fa-arrow-circle-left"></i>Alert</a
        >
        <a href="../badge/badge.html"
            >Button<i class="fas fa-arrow-circle-right"></i
        ></a>
    </main></div>
    <footer class = "footer">
        <div class = "footer-nav">
            <a href = "#">Home</a>
            <a href = "https://github.com/Isha2806/Shavi_TheUI">Github</a>
            <a href = "/docs/#">Docs</a>
            <a href = "#">Contact Shavi</a>
        </div>
        <p class = "copyright">We Believe in your Brand.<br>Thankyou for trusting us with you Dream Project.<br><br>&copy;Shavi-TheUI</p>
    </footer>
    <!--End Footer-->
        <script src = "./script.js"></script>
    
</body>
</html>