<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Modal</title>
    <link rel = "stylesheet" href = "./modal.css">
    <link rel = "stylesheet" href = "../../css/Allcss.css">

    <script src="https://kit.fontawesome.com/f06d3751e1.js" crossorigin="anonymous"></script>
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <div class = "container">
        <!--Navbar-->
        <nav>
            <div class="navbar">
                <div class="navbar-logo">
                    <a href="/index.html">
                    <span>S</span>havi<span>T</span>he<span>UI</span>
                    </a>
                </div>
            </div>
        </nav>
        <!--Navbar End-->
        <div class = "main-container">
               <side class = "side-left">
                   <h3 class = "navbar-heading">Documentation</h3>
                   <ul class = "components-list">
                       <li>
                           <a href = "/docs/introduction.html">Installation</a>
    
                       </li>
    
                   </ul>
               <h1 class = "navbar-heading">Advance Components👇</h1>
               <ul class = "components-list">
                  
                   <li>
                       <a href = "/Components/Grid/grid.html" >Grid</a>
                    </li>
                    <li>
                        <a href = "/Components/Navigation/navigation.html">Navigation</a>
                    </li>
                     
                    <li>
                        <a href="/Components/Modal/modal.html">Modal</a>
                    </li> 
                    <li>
                        <a href="/Components/Slider/slider.html">Slider</a>
                    </li> 
                    <li>
                        <a href="/Components/Snackbar/snackbar.html">Snackbar</a>
                    </li>
                    <li>
                        <a href="/Components/Alert/alert.html">More<br> Components</a>
                    </li>
               </ul>


            </side>
           <div class = "sub-container"> 
         
            <h1 class = "component-heading">Modal</h1>
            <h2 class = "component-description">
              Modal is a pop up shown to take users attention to the specific thing in the website.
            </h2>
        <div class = "component-types">
                <h1 class = "component-name">Simple Modal </h1>
            <div class = "component-example">

                <div class="modal">
                    <div class="modal-dismiss">
                        <h2 class="modal-title">Delete this item permanently?</h2>
                        <i class="far fa-times-circle"></i>
                    </div>
                    <p class="modal-text">you know what you are doing , right?</p>
                    <div class="modal-buttons">
                        <button class="btn">No , I am drunk!</button>
                        <button class="btn">yes,Delete </button>
                    </div>
                </div> 
            </div>
            <div class = "component-code">
                <iframe
                src="https://carbon.now.sh/embed/QlITqLOPn2lxNhE6doPC"
                style="width: 841px; height: 410px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
               
                
            </div>
        </div>
              
    <!--Footer-->
    
    <footer class="footer">
        <a href="../Grid/grid.html"
            ><i class="fas fa-arrow-circle-left"></i>Grid</a>
        <a href="../Slider/slider.html"
            >Next<i class="fas fa-arrow-circle-right"></i
        ></a>
     
    </div>
</div>
</div>

    <!--End Footer-->
        <script src = "../../script.js"></script>
    
</body>
</html>