<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Alert</title>
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/style.css">
    <link rel = "stylesheet" href = "/css/navbar.css">
    <link rel = "stylesheet" href = "/css/responsive.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
          <a href="/index.html">
            <span>S</span>havi<span>T</span>he<span>UI</span>
          </a>
        </div>
       </nav>
    <!--Navbar End-->
    <!--MAin Section-->
       <div class = "container">
           <side class = "side-left">
            <div class = "navigation">
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "#">Installation</a>
                   </li>
               </ul>
               <h3 class = "navbar-heading">Components👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Avatar/avatar.html">Avatar</a></li>
                   <li><a href="/Components/Alert/alert.html">Alert</a></li>
                   <li><a href="/Components/Badge/badge.html">Badge</a></li>
                   <li><a href="/Components/Button/button.html">Button</a></li>
                   <li><a href="/Components/Card/card.html">Cards</a></li>
                   <li><a href="/Components/Image/image.html">Images</a></li>
                   <li><a href="/Components/Input/input.html">Input</a></li>
                   <li><a href="/Components/Text-Utilities/Text-Utilities.html">
                       Text-Utilities</a></li>
                   <li><a href="/Components/Rating/rating.html">Rating</a></li>
                   <li><a href="/Components/Lists/lists.html">Lists</a></li>
                   <li><a href="#">Shavi-Rewards</a></li>

               </ul>
            </div>
            </side>
            <!--side Section End-->
            <h1 class = "component-heading">Alert  😲 </h1>
            <p class = "component-description">
                Alert , in general means an attention seeking element.😲
                Its a change detection And a notification service. ALert is used to show various notification to its users. 
                For example- a warning alert will give warning notification, success alert, registered alert, data saved alert, and much more. 
                Let's see how you can use it in your own 
                Dream Project. 
            </p>
            <div class="component-types">
                <h1 class = "component-name">Icon Alert</h1>
                <h2 class = "component-description">
                  Basically we are giving an icon in the alert. 
                  So that its Easy for the user to understand and recognize the similar type of colour for Alert.
                  For example- Green for success
                  <br>Red for warning.<br>Dark colour for danger and informations.   
                </h2>
                <div class = "component-example">
                    <div class = "alert primary">
                        <i class = "fas fa-info-circle">Shavi's Information Alert.</i></div>
                    <div class = "alert warning">
                        <i class="fas fa-exclamation-circle"></i>
                        Shavi's Warning Alert. </div>
                    <div class = "alert success">
                        <i class = "fas fa-check-circle"></i>
                        Shavi's Success Alert.</div>
                    <div class = "alert dark">
                        <i class = "fas fa-exclamation-triangle"></i>
                        Shavi's Danger Alert.
                    </div>
                </div>
                <div class = "component-code">
                    
                </div>
            </div>
            <!--Main Section End-->
       </div>
    
    <!--Footer-->
    <footer class = "footer">
        <div class = "footer-nav">
            <a href = "https://github.com/Isha2806/Shavi_TheUI">Github</a>
            <a href = "/Components/Avatar/avatar.html">Components</a>
            <a href = "/docs/#">Docs</a>
        </div>
        <p class = "copyright">We Believe in your Brand.<br>Thankyou for trusting us with you Dream Project.<br><br>&copy;Shavi-TheUI</p>
    </footer>
    <!--End Footer-->
        <script src = "./script.js"></script>
    
</body>
</html>