<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-Alert</title>
    <link rel = "stylesheet" href = "../../css/Allcss.css">
    <link rel = "stylesheet" href = "./alert.css">
    <link rel = "icon" type = "image/x-icon" href = "/Images/favicon.png">
</head>
<body> 
 <div class = "container">
    <!--Navbar-->
    <nav>
        <div class="navbar">
            <div class="navbar-logo">
                <a href="/index.html">
                <span>S</span>havi<span>T</span>he<span>UI</span>
                </a>
            </div>
        </div>
    </nav>
    <!--Navbar End-->
    <div class = "main-container">
           <side class = "side-left">
               <h3 class = "navbar-heading">Documentation</h3>
               <ul class = "components-list">
                   <li>
                       <a href = "/docs/introduction.html">Installation</a>

                   </li>

               </ul>
               <h3 class = "navbar-heading">Components👇</h3>
               <ul class = "components-list">
                   <li><a href = "/Components/Avatar/avatar.html">Avatar</a></li>
                   <li><a href="/Components/Alert/alert.html">Alert</a></li>
                   <li><a href="/Components/Badge/badge.html">Badge</a></li>
                   <li><a href="/Components/Button/button.html">Button</a></li>
                   <li><a href="/Components/Card/card.html">Cards</a></li>
                   <li><a href="/Components/Image/image.html">Images</a></li>
                   <li><a href="/Components/Input/input.html">Input</a></li>
                   <li><a href="/Components/Text-Utilities/Text-Utilities.html">
                       Text-Utilities</a></li>
                   <li><a href="/Components/Rating/rating.html">Rating</a></li>
                   <li><a href="/Components/Lists/lists.html">Lists</a></li>
                   <li><a href = "/Components/Navigation/navigation.html">Others</a></li>

               </ul>


            </side>
           <div class = "sub-container"> 
                <h1 class = "component-heading">Alert  😲 </h1>
                <h2 class = "component-description">
                Alert , in general means an attention seeking element.😲
               <br> Its a change detection And a notification service. ALert is used to show various notification to its users. 
                For example- a warning alert will give warning notification, success alert, registered alert, data saved alert, and much more. 
                Let's see how you can use it in your own 
                Dream Project. 
                </h2>
                <div class="component-types">
                    <h1 class = "component-name">Icon Alert</h1>
                    <h3 class = "component-description">
                  Basically we are giving an icon in the alert. 
                  So that its Easy for the user to understand and recognize the similar type of colour for Alert.
                  For example- Green for success
                  <br>Red for warning.<br>Dark colour for danger and informations.   
                    </h3>
                <div class = "component-example">
                    <div class = "alert primary">
                        <i class = "fas fa-info-circle"></i>
                        Shavi's Information Alert.
                    </div>
                    <div class = "alert warning">
                        <i class="fas fa-exclamation-circle"></i>
                        Shavi's Warning Alert. </div>
                    <div class = "alert success">
                        <i class = "fas fa-check-circle"></i>
                        Shavi's Success Alert.</div>
                    <div class = "alert dark">
                        <i class = "fas fa-exclamation-triangle"></i>
                        Shavi's Danger Alert.
                    </div>
                </div>
                <div class = "component-code">
                    <iframe
                    src="https://carbon.now.sh/embed/T8NHkPEUw1uM5YgMhyRD"
                    style=" height: 447px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div>
         <!---------------------------------------Footer------------------------------->
    
             <footer class="footer">
                <a href="../avatar/avatar.html"
                     ><i class="fas fa-arrow-circle-left"></i>Avatar</a>
                <a href="../badge/badge.html">Badge<i class="fas fa-arrow-circle-right"></i></a>
            </footer>
        </div>
    </div>
 </div>
 <script src = "./script.js"></script>
</body>
</html> 
   
       
    
